<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--    扫描service包-->
    <context:component-scan base-package="com.jiao.service"></context:component-scan>
    <!--    事务管理-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--    使用dubbo后，jdk的动态代理创建的动态类是新创建的代理类类路径变化了xx.proxy.$proxy，导致dubbo在zookeeper中注册的类找不到，proxy-target-class="true"这里用cjlib动态代理-->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

</beans>